.img-inline {
    vertical-align: middle;
    height: 1.5em;
    margin: 0 !important;
}

/* table borders look weird with row fragments, use .no-borders to remove borders between table row */
.reveal table.no-borders tr td {
    border-bottom: none;
}

/* credential boxes */
.cred {
    padding: 6px;
    border-radius: 14px;
}

.cred.old {
    background-color: #fa5252;
}

.cred.bundle {
    background-color: #be4bdb;
}

.cred.new {
    background-color: #4c6ef5;
}
